/*  */

.navbar {
  width: 100%;

}

.navigation-clean {
  background-color: transparent !important;
}

li {
  list-style-type: none !important;
}



 /* .nav {
   background-color:rgb(37,36,36);
 } */

 .navbar-brand {
   color: white;
 }
