/*  */

.navbar {
  width: 100%;

}

.navigation-clean {
  background-color: transparent !important;
}

li {
  list-style-type: none !important;
}

.nav-link {
  color: white !important;
  text-shadow: -7px -4px 14px #00000;
  opacity: 0.8;
}



 /* .nav {
   background-color:rgb(37,36,36);
 } */

 .navbar-brand {
   color: #EF5646 !important;
   opacity: 0.8;
 }
